In [1]:
import pandas as pd

In [2]:
acs_df = pd.read_csv('acs_5yr_2016.csv')

/Users/victoriakielb/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3319: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
acs_df.head()

,Unnamed: 0,census_name,Estimate!!Total: TOTAL POPULATION,Estimate!!Total: SEX BY AGE,Estimate!!Total:!!Male: SEX BY AGE,Estimate!!Total:!!Male:!!Under 5 years SEX BY AGE,Estimate!!Total:!!Male:!!5 to 9 years SEX BY AGE,Estimate!!Total:!!Male:!!10 to 14 years SEX BY AGE,Estimate!!Total:!!Male:!!15 to 17 years SEX BY AGE,Estimate!!Total:!!Male:!!18 and 19 years SEX BY AGE,...,Estimate!!Total:!!Not allocated ALLOCATION OF SCHOOL ENROLLMENT FOR THE POPULATION 3 YEARS AND OVER,Estimate!!Total: HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,Estimate!!Total:!!Male: HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,Estimate!!Total:!!Female: HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,Estimate!!Total: PRIVATE HEALTH INSURANCE STATUS BY SEX BY AGE,Estimate!!Total:!!Male: PRIVATE HEALTH INSURANCE STATUS BY SEX BY AGE,Estimate!!Total:!!Female: PRIVATE HEALTH INSURANCE STATUS BY SEX BY AGE,Estimate!!Total: PUBLIC HEALTH INSURANCE STATUS BY SEX BY AGE,Estimate!!Total:!!Male: PUBLIC HEALTH INSURANCE STATUS BY SEX BY AGE,Estimate!!Total:!!Female: PUBLIC HEALTH INSURANCE STATUS BY SEX BY AGE
0,0,"Census Tract 113, Dallas County, Texas",4985.0,4985.0,2031.0,72.0,101.0,195.0,58.0,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,"Census Tract 122.09, Dallas County, Texas",3459.0,3459.0,1728.0,224.0,98.0,205.0,45.0,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,"Census Tract 128, Dallas County, Texas",7520.0,7520.0,3835.0,248.0,249.0,96.0,165.0,255.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,"Census Tract 137.25, Dallas County, Texas",4405.0,4405.0,2051.0,275.0,164.0,217.0,15.0,36.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,"Census Tract 138.04, Dallas County, Texas",3428.0,3428.0,1621.0,180.0,97.0,152.0,30.0,47.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
acs_df_race = acs_df[["Estimate!!Total:!!Not Hispanic or Latino: HISPANIC OR LATINO ORIGIN BY RACE", 
                      "Estimate!!Total:!!Not Hispanic or Latino:!!White alone HISPANIC OR LATINO ORIGIN BY RACE",
                      "Estimate!!Total:!!Not Hispanic or Latino:!!Black or African American alone HISPANIC OR LATINO ORIGIN BY RACE",
                      "Estimate!!Total:!!Not Hispanic or Latino:!!American Indian and Alaska Native alone HISPANIC OR LATINO ORIGIN BY RACE",
                      "Estimate!!Total:!!Not Hispanic or Latino:!!Asian alone HISPANIC OR LATINO ORIGIN BY RACE",
                      "Estimate!!Total:!!Not Hispanic or Latino:!!Native Hawaiian and Other Pacific Islander alone HISPANIC OR LATINO ORIGIN BY RACE",
                      "Estimate!!Total:!!Not Hispanic or Latino:!!Some other race alone HISPANIC OR LATINO ORIGIN BY RACE",
                      "Estimate!!Total:!!Not Hispanic or Latino:!!Two or more races: HISPANIC OR LATINO ORIGIN BY RACE",
                      "Estimate!!Total:!!Not Hispanic or Latino:!!Two or more races:!!Two races including Some other race HISPANIC OR LATINO ORIGIN BY RACE",
                      "Estimate!!Total:!!Not Hispanic or Latino:!!Two or more races:!!Two races excluding Some other race, and three or more races HISPANIC OR LATINO ORIGIN BY RACE",
                      "Estimate!!Total:!!Hispanic or Latino: HISPANIC OR LATINO ORIGIN BY RACE",
                      "Estimate!!Total:!!Hispanic or Latino:!!White alone HISPANIC OR LATINO ORIGIN BY RACE",
                      "Estimate!!Total:!!Hispanic or Latino:!!Black or African American alone HISPANIC OR LATINO ORIGIN BY RACE",
                      "Estimate!!Total:!!Hispanic or Latino:!!American Indian and Alaska Native alone HISPANIC OR LATINO ORIGIN BY RACE",
                      "Estimate!!Total:!!Hispanic or Latino:!!Asian alone HISPANIC OR LATINO ORIGIN BY RACE",
                      "Estimate!!Total:!!Hispanic or Latino:!!Native Hawaiian and Other Pacific Islander alone HISPANIC OR LATINO ORIGIN BY RACE",
                      "Estimate!!Total:!!Hispanic or Latino:!!Some other race alone HISPANIC OR LATINO ORIGIN BY RACE",
                      "Estimate!!Total:!!Hispanic or Latino:!!Two or more races: HISPANIC OR LATINO ORIGIN BY RACE",
                      "Estimate!!Total:!!Hispanic or Latino:!!Two or more races:!!Two races including Some other race HISPANIC OR LATINO ORIGIN BY RACE",
                      "Estimate!!Total:!!Hispanic or Latino:!!Two or more races:!!Two races excluding Some other race, and three or more races HISPANIC OR LATINO ORIGIN BY RACE"
                      ]]

In [5]:
acs_df_race_clean = acs_df_race.rename(columns={"Estimate!!Total:!!Not Hispanic or Latino: HISPANIC OR LATINO ORIGIN BY RACE": "Not H/L",
                      "Estimate!!Total:!!Not Hispanic or Latino:!!White alone HISPANIC OR LATINO ORIGIN BY RACE": "Not H/L: White alone",
                      "Estimate!!Total:!!Not Hispanic or Latino:!!Black or African American alone HISPANIC OR LATINO ORIGIN BY RACE":"Not H/L: Black alone",
                      "Estimate!!Total:!!Not Hispanic or Latino:!!American Indian and Alaska Native alone HISPANIC OR LATINO ORIGIN BY RACE":"Not H/L: American Indian/Native alone",
                      "Estimate!!Total:!!Not Hispanic or Latino:!!Asian alone HISPANIC OR LATINO ORIGIN BY RACE": "Not H/L: Asian alone",
                      "Estimate!!Total:!!Not Hispanic or Latino:!!Native Hawaiian and Other Pacific Islander alone HISPANIC OR LATINO ORIGIN BY RACE" : "Not H/L: Native Hawaiian / PI alone",
                      "Estimate!!Total:!!Not Hispanic or Latino:!!Some other race alone HISPANIC OR LATINO ORIGIN BY RACE":"Not H/L: Other race alone",
                      "Estimate!!Total:!!Not Hispanic or Latino:!!Two or more races: HISPANIC OR LATINO ORIGIN BY RACE":"Not H/L: Two or more races",
                      "Estimate!!Total:!!Not Hispanic or Latino:!!Two or more races:!!Two races including Some other race HISPANIC OR LATINO ORIGIN BY RACE": "Not H/L: Two races including other race",
                      "Estimate!!Total:!!Not Hispanic or Latino:!!Two or more races:!!Two races excluding Some other race, and three or more races HISPANIC OR LATINO ORIGIN BY RACE": "Not H/L: Two races excluding other race, and three+ races",
                      "Estimate!!Total:!!Hispanic or Latino: HISPANIC OR LATINO ORIGIN BY RACE": "H/L",
                      "Estimate!!Total:!!Hispanic or Latino:!!White alone HISPANIC OR LATINO ORIGIN BY RACE":"H/L: White alone",
                      "Estimate!!Total:!!Hispanic or Latino:!!Black or African American alone HISPANIC OR LATINO ORIGIN BY RACE":"H/L: Black alone",
                      "Estimate!!Total:!!Hispanic or Latino:!!American Indian and Alaska Native alone HISPANIC OR LATINO ORIGIN BY RACE":"H/L: American Indian/Native alone",
                      "Estimate!!Total:!!Hispanic or Latino:!!Asian alone HISPANIC OR LATINO ORIGIN BY RACE":"H/L: Asian alone",
                      "Estimate!!Total:!!Hispanic or Latino:!!Native Hawaiian and Other Pacific Islander alone HISPANIC OR LATINO ORIGIN BY RACE":"H/L: Native Hawaiian / PI alone",
                      "Estimate!!Total:!!Hispanic or Latino:!!Some other race alone HISPANIC OR LATINO ORIGIN BY RACE":"H/L: Other race alone",
                      "Estimate!!Total:!!Hispanic or Latino:!!Two or more races: HISPANIC OR LATINO ORIGIN BY RACE":"H/L: Two or more races",
                      "Estimate!!Total:!!Hispanic or Latino:!!Two or more races:!!Two races including Some other race HISPANIC OR LATINO ORIGIN BY RACE":"H/L: Two races including other race",
                      "Estimate!!Total:!!Hispanic or Latino:!!Two or more races:!!Two races excluding Some other race, and three or more races HISPANIC OR LATINO ORIGIN BY RACE":"H/L: Two races excluding other race, and three+ races"
                      })

In [6]:
acs_df_race_clean.sum(axis = 0, skipna = True)

Not H/L                                                      101486164.0
Not H/L: White alone                                          74946852.0
Not H/L: Black alone                                          12700476.0
Not H/L: American Indian/Native alone                           712320.0
Not H/L: Asian alone                                           9408053.0
Not H/L: Native Hawaiian / PI alone                             247582.0
Not H/L: Other race alone                                       265219.0
Not H/L: Two or more races                                     3205662.0
Not H/L: Two races including other race                         134470.0
Not H/L: Two races excluding other race, and three+ races      3071192.0
H/L                                                           34391667.0
H/L: White alone                                              23019691.0
H/L: Black alone                                                366236.0
H/L: American Indian/Native alone                               326680.0
H/L: Asian alone                                                114832.0
H/L: Native Hawaiian / PI alone                                  22757.0
H/L: Other race alone                                          9108431.0
H/L: Two or more races                                         1433040.0
H/L: Two races including other race                             716435.0
H/L: Two races excluding other race, and three+ races           716605.0
dtype: float64

### Creating "cleaned" race columns

Cleaned columns will include:

*  Hispanic (of any race)
*  Non-Hispanic White
*  Non-Hispanic Black
*  Non-Hispanic Asian
*  Non-Hispanic American Indian
*  Non-Hispanic Other

In [70]:
acs_df_race_clean['Hispanic (of any race)'] = acs_df_race_clean['H/L']
acs_df_race_clean['Non-Hispanic White'] = acs_df_race_clean['Not H/L: White alone']
acs_df_race_clean['Non-Hispanic Black'] = acs_df_race_clean['Not H/L: Black alone']
acs_df_race_clean['Non-Hispanic Asian'] = acs_df_race_clean['Not H/L: Asian alone']
acs_df_race_clean['Non-Hispanic American Indian'] = acs_df_race_clean['Not H/L: American Indian/Native alone']

In [71]:
acs_df_race_clean['Non-Hispanic Other'] = acs_df_race_clean['Not H/L: Native Hawaiian / PI alone'] + acs_df_race_clean['Not H/L: Other race alone'] + acs_df_race_clean['Not H/L: Two or more races']

In [72]:
acs_df_race_final = acs_df_race_clean[['Hispanic (of any race)',
                                       'Non-Hispanic White',
                                       'Non-Hispanic Black',
                                       'Non-Hispanic Asian',
                                       'Non-Hispanic American Indian',
                                       'Non-Hispanic Other'
                                      ]]

In [76]:
acs_df_race_final.head()

,Hispanic (of any race),Non-Hispanic White,Non-Hispanic Black,Non-Hispanic Asian,Non-Hispanic American Indian,Non-Hispanic Other
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
acs_df_race_final.sum(axis = 0, skipna = True)

Hispanic (of any race)          34391667.0
Non-Hispanic White              74946852.0
Non-Hispanic Black              12700476.0
Non-Hispanic Asian               9408053.0
Non-Hispanic American Indian      712320.0
Non-Hispanic Other               3718463.0
dtype: float64