In [3]:
import pandas as pd

In [4]:
pwd

'/tmp/notebooks'

In [5]:
df = pd.read_csv(r'/tmp/neighborhood-data/neighborhood_df.csv')

In [6]:
df

,Unnamed: 0,City Name,Neighborhood Name,Number of Census Tracts,Population,Households,Neighborhood Size,% Black,% Hispanic,% >25 College Degree,Avg household income,% Broadband Access,% > 100MB Access,Devices per capita
0,0,Seattle,2,1,5891.0,2387.0,0.000475,0.009000,0.046000,0.764000,134554.000000,0.972000,0.598000,0.020000
1,1,Seattle,3,1,4536.0,1668.0,0.000359,0.027000,0.044000,0.879000,208636.000000,0.991000,0.583000,0.022000
2,2,Seattle,5,1,9140.0,4526.0,0.000317,0.013000,0.059000,0.700000,95182.000000,0.915000,0.774000,0.028000
3,3,Seattle,6,1,9140.0,4526.0,0.000317,0.013000,0.059000,0.700000,95182.000000,0.915000,0.774000,0.028000
4,4,Seattle,7,1,5926.0,149.0,0.000392,0.055000,0.069000,0.478000,17188.000000,0.443000,0.040000,0.008000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2073,66,Louisville,BOWMAN,6,19503.0,8316.0,0.001918,0.052167,0.018000,0.616333,88623.333333,0.883500,0.585833,0.023500
2074,67,Louisville,CHEROKEE SENECA,6,19036.0,8938.0,0.001734,0.043500,0.019500,0.668500,80487.000000,0.903500,0.810500,0.025667
2075,68,Louisville,GERMANTOWN,7,16081.0,7304.0,0.000684,0.232000,0.025286,0.376429,47373.285714,0.833000,0.558571,0.015857
2076,69,Louisville,CLIFTON,5,13396.0,6910.0,0.001248,0.126000,0.015600,0.529600,55702.800000,0.883400,0.436800,0.023800
2077,70,Louisville,HIGHLAND PARK,4,10955.0,4715.0,0.002772,0.202667,0.121333,0.183333,39002.333333,0.728667,0.490500,0.012000

In [14]:
seattle_values = df[df['City Name']=="Seattle"]['% Broadband Access']
seattle_values.head()

0    0.972
1    0.991
2    0.915
3    0.915
4    0.443
Name: % Broadband Access, dtype: float64

In [38]:
def gini(list_of_values):
    sorted_list = sorted(list_of_values)
    height, area = 0, 0
    for value in sorted_list:
        height += value
        area += height - value / 2.
    fair_area = height * len(list_of_values) / 2.
    gini_index=(fair_area - area) / fair_area
    return gini_index

In [39]:
gini(seattle_values)

0.07788346049566375

In [18]:
cities = df['City Name'].unique()

In [46]:
ls = []
for city in cities:
    city_values = df[df['City Name']==city]['% Broadband Access']
    gini_value = gini(city_values)
    ls.append([city, gini_value])
print(ls)

[['Seattle', 0.07788346049566375], ['Denver', 0.026119944698702033], ['Portland', 0.029321993925925268], ['Washington, D.C.', 0.07176447812701535], ['Boston', nan], ['Albuquerque', 0.05246957553628545], ['Houston', 0.07145601785224862], ['Indianapolis', 0.06042282835585056], ['Los Angeles', 0.046961636588240485], ['Phoenix', 0.0674741804595671], ['San Francisco', 0.036306028057602836], ['Austin', 0.04254124106955665], ['Dallas', 0.08031149843935922], ['San Jose', 0.01866100669214238], ['San Diego', 0.03162411764875778], ['Baltimore', 0.08903459803251619], ['Detroit', nan], ['Louisville', nan]]

In [48]:
gini_data = pd.DataFrame(ls, columns=['City', 'Gini']) 
gini_data

                City      Gini
0            Seattle  0.077883
1             Denver  0.026120
2           Portland  0.029322
3   Washington, D.C.  0.071764
4             Boston       NaN
5        Albuquerque  0.052470
6            Houston  0.071456
7       Indianapolis  0.060423
8        Los Angeles  0.046962
9            Phoenix  0.067474
10     San Francisco  0.036306
11            Austin  0.042541
12            Dallas  0.080311
13          San Jose  0.018661
14         San Diego  0.031624
15         Baltimore  0.089035
16           Detroit       NaN
17        Louisville       NaN

In [49]:
gini_data.sort_values(by ='Gini', ascending = 0)

                City      Gini
15         Baltimore  0.089035
12            Dallas  0.080311
0            Seattle  0.077883
3   Washington, D.C.  0.071764
6            Houston  0.071456
9            Phoenix  0.067474
7       Indianapolis  0.060423
5        Albuquerque  0.052470
8        Los Angeles  0.046962
11            Austin  0.042541
10     San Francisco  0.036306
14         San Diego  0.031624
2           Portland  0.029322
1             Denver  0.026120
13          San Jose  0.018661
4             Boston       NaN
16           Detroit       NaN
17        Louisville       NaN

In [53]:
gini_data['rank'] = gini_data['Gini'].rank(ascending=False)
gini_data.sort_values(by=['rank'])

                City      Gini  rank
15         Baltimore  0.089035   1.0
12            Dallas  0.080311   2.0
0            Seattle  0.077883   3.0
3   Washington, D.C.  0.071764   4.0
6            Houston  0.071456   5.0
9            Phoenix  0.067474   6.0
7       Indianapolis  0.060423   7.0
5        Albuquerque  0.052470   8.0
8        Los Angeles  0.046962   9.0
11            Austin  0.042541  10.0
10     San Francisco  0.036306  11.0
14         San Diego  0.031624  12.0
2           Portland  0.029322  13.0
1             Denver  0.026120  14.0
13          San Jose  0.018661  15.0
4             Boston       NaN   NaN
16           Detroit       NaN   NaN
17        Louisville       NaN   NaN

Mean Log Deviation

In [8]:
df[df['City Name']=="Boston"]

,Unnamed: 0,City Name,Neighborhood Name,Number of Census Tracts,Population,Households,Neighborhood Size,% Black,% Hispanic,% >25 College Degree,Avg household income,% Broadband Access,% > 100MB Access,Devices per capita
365,0,Boston,Leather District,1,7409.0,3600.0,0.000122,0.023000,0.092000,0.691000,85333.000000,0.930000,0.125000,0.037000
366,1,Boston,Downtown,12,42212.0,21046.0,0.000677,0.044455,0.064273,0.732909,106823.727273,0.925182,0.245417,0.025000
367,2,Boston,Bay Village,2,9823.0,4397.0,0.000067,0.045000,0.051500,0.601500,72266.500000,0.882500,0.305500,0.019500
368,3,Boston,South End,12,47313.0,23608.0,0.000695,0.157417,0.136667,0.631083,88171.583333,0.883917,0.543750,0.022750
369,4,Boston,North End,6,18762.0,9957.0,0.000238,0.038500,0.070500,0.784333,110892.666667,0.943667,0.120500,0.018667
370,5,Boston,Roxbury,32,119408.0,43448.0,0.002123,0.495312,0.273625,0.297781,43441.032258,0.773742,0.763250,0.012500
371,6,Boston,West End,10,26616.0,14047.0,0.000599,0.052333,0.100444,0.807556,109315.555556,0.925000,0.123600,0.022222
372,7,Boston,Brighton,20,88685.0,33817.0,0.002747,0.061053,0.106263,0.724158,101642.105263,0.903789,0.688200,0.014105
373,8,Boston,South Boston,19,65266.0,29866.0,0.001721,0.131389,0.145722,0.564556,87747.529412,0.877667,0.556789,0.024944
374,9,Boston,South Boston Waterfront,3,8987.0,5089.0,0.000699,0.039667,0.041000,0.758333,154624.000000,0.976333,0.274000,0.079667
375,10,Boston,Longwood,7,29023.0,9725.0,0.000457,0.150714,0.132286,0.666429,58380.166667,0.865143,0.266000,0.411714
376,11,Boston,Hyde Park,16,71382.0,24493.0,0.004226,0.442133,0.214333,0.330600,81529.333333,0.856000,0.790312,0.009533
377,12,Boston,Mission Hill,12,45765.0,16304.0,0.000638,0.214167,0.158000,0.545417,50788.363636,0.813917,0.432583,0.244167
378,13,Boston,Roslindale,19,72515.0,26618.0,0.002398,0.374294,0.215294,0.414647,79850.352941,0.856294,0.853263,0.010118
379,14,Boston,Dorchester,45,181717.0,63938.0,0.004518,0.510273,0.206000,0.288045,59644.813953,0.811721,0.813733,0.009841
380,15,Boston,Jamaica Plain,26,87207.0,35011.0,0.003443,0.204960,0.186040,0.606320,95628.086957,0.886000,0.642577,0.127960
381,16,Boston,Charlestown,13,53081.0,22891.0,0.001435,0.117154,0.177615,0.596231,97578.384615,0.871462,0.206538,0.018692
382,17,Boston,Chinatown,4,19933.0,9361.0,0.000218,0.062000,0.067250,0.582500,66549.750000,0.887500,0.267250,0.027250
383,18,Boston,Mattapan,16,77671.0,26347.0,0.002471,0.630125,0.165250,0.267562,68448.933333,0.841000,0.735250,0.012750
384,19,Boston,Beacon Hill,13,44604.0,22557.0,0.000733,0.041545,0.074455,0.790091,109223.090909,0.928091,0.222462,0.022455
385,20,Boston,Fenway,17,63458.0,20122.0,0.000922,0.097875,0.128875,0.745750,56396.600000,0.843625,0.351118,0.186125
386,21,Boston,Allston,13,56979.0,21303.0,0.001091,0.064417,0.124833,0.753917,71172.000000,0.854667,0.386692,0.013583
387,22,Boston,West Roxbury,18,84301.0,32443.0,0.005666,0.108471,0.086706,0.608471,116101.764706,0.893471,0.850833,0.012294
388,23,Boston,Harbor Islands,1,457.0,0.0,0.000526,0.260000,0.287000,0.117000,NaN,NaN,0.000000,NaN
389,24,Boston,Back Bay,15,47246.0,22989.0,0.000592,0.080077,0.096769,0.775769,96368.076923,0.904000,0.464400,0.020000
390,25,Boston,East Boston,18,65165.0,23533.0,0.002397,0.183812,0.450500,0.326188,65525.625000,0.844375,0.493722,0.031750